# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 17

#### 2. asign any number of type float to the variable "num_2"

In [2]:
num_2 = 6.6

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [3]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [4]:
type(total)

float

#### 5. assign variable "height" with your height

In [5]:
height = 180

#### 6. asign variable "mass" with your weight

In [6]:
mass = 80

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [7]:
bmi = mass/(height*height)

#### 8. print value from "bmi" variable

In [8]:
bmi

0.0024691358024691358

# String

#### 1. Create variable "name" with your first name

In [9]:
name = "Will"

#### 2. Create variable "surname" with your surname

In [10]:
surname = "Li"

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [11]:
name_surname = name + ' ' + surname

#### 4. print variable "name_surname"

In [12]:
name_surname

'Will Li'

#### 5. print first letter from variable "name_surname"

In [13]:
name_surname[0]

'W'

#### 6. print your name (without enmpty space) from variable "name_surname"

In [14]:
name_surname[:4]

'Will'

#### 7. print your surname 10x (use variable surname)

In [15]:
surname * 10

'LiLiLiLiLiLiLiLiLiLi'

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [16]:
message = "Hello my name is " + name_surname

#### 9. print "message" variable

In [17]:
message

'Hello my name is Will Li'

## List

#### 1. create empty list with name "empty_list"

In [18]:
empty_list = []

#### 2. create list "heights" with five random values

In [19]:
heights = [180, 193, 198, 203, 218]

#### 3. print heights

In [20]:
heights

[180, 193, 198, 203, 218]

#### 4. print type of variable "heights"

In [21]:
type(heights)

list

#### 5. print second value from "heights"

In [22]:
heights[1]

193

#### 6. assign last three values from "heights" to another list "heights_2"

In [23]:
heights_2 = heights[2:]

#### 7. print "heights_2"

In [24]:
heights_2

[198, 203, 218]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [25]:
list_all = heights + heights_2

#### 9. print "list_all"

In [26]:
list_all

[180, 193, 198, 203, 218, 198, 203, 218]

#### 10. print the type of "list_all"

In [27]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [28]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [29]:
empty_tuple[0] = "Will"

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In [30]:
# list is mutable while tuple is unmutable

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [31]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [32]:
heights_dict = {"Will":180}

#### 3. asign another name and height to "heights_dict"

In [33]:
heights_dict["Jordan"] = 198

#### 4. print "heights_dict" dictionary

In [34]:
heights_dict

{'Will': 180, 'Jordan': 198}

#### 5. print your height from the "heights_dict" dictionary

In [36]:
heights_dict["Will"]

180

#### 6. print all values from "heights_dict" dictionary

In [37]:
heights_dict.values()

dict_values([180, 198])

#### 7. print all keys from "heights_dict" dictionary

In [38]:
heights_dict.keys()

dict_keys(['Will', 'Jordan'])